<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PubSrcDirectoryMapper">
    
    <resultMap type="PubSrcDirectory" id="PubSrcDirectoryResult">
        <result property="dirName"    column="dir_name"    />
        <result property="scope"    column="scope"    />
        <result property="cycle"    column="cycle"    />
        <result property="provide"    column="provide"    />
        <result property="classification"    column="classification"    />
        <result property="type"    column="type"    />
        <result property="tag"    column="tag"    />
        <result property="basicClassification"    column="basic_classification"    />
        <result property="topicClassification"    column="topic_classification"    />
        <result property="dirDescribe"    column="dir_describe"    />
        <result property="sharedProperties"    column="shared_properties"    />
        <result property="sharedConditions"    column="shared_conditions"    />
        <result property="sharingMode"    column="sharing_mode"    />
        <result property="openAttribute"    column="open_attribute"    />
        <result property="openCondition"    column="open_condition"    />
        <result property="userNumber"    column="user_number"    />
        <result property="associatedSystem"    column="associated_system"    />
        <result property="sourceBusiness"    column="source_business"    />
        <result property="associatedService"    column="associated_service"    />
        <result property="associatedTable"    column="associated_table"    />
        <result property="associatedField"    column="associated_field"    />
        <result property="code"    column="code"    />
        <result property="version"    column="version"    />
        <result property="isLatest"    column="is_latest"    />
        <result property="status"    column="status"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="isPhysicalDelete"    column="is_physical_delete"    />
        <result property="synMechanism"    column="syn_mechanism"    />
        <result property="synFrequency"    column="syn_frequency"    />
        <result property="isSynTosupermarket"    column="is_syn_tosupermarket"    />
    </resultMap>

    <sql id="selectPubSrcDirectoryVo">
        select dir_name, scope, cycle, provide, classification, type, tag, basic_classification, topic_classification, dir_describe, shared_properties, shared_conditions, sharing_mode, open_attribute, open_condition, user_number, associated_system, source_business, associated_service, associated_table, associated_field, code, version, is_latest, status, create_date, update_date, is_physical_delete, syn_mechanism, syn_frequency, is_syn_tosupermarket from pub_src_directory
    </sql>

    <select id="selectPubSrcDirectoryList" parameterType="PubSrcDirectory" resultMap="PubSrcDirectoryResult">
        <include refid="selectPubSrcDirectoryVo"/>
        <where>  
            <if test="dirName != null  and dirName != ''"> and dir_name like concat('%', #{dirName}, '%')</if>
            <if test="basicClassification != null  and basicClassification != ''"> and basic_classification = #{basicClassification}</if>
        </where>
    </select>
    
    <select id="selectPubSrcDirectoryByCode" parameterType="Long" resultMap="PubSrcDirectoryResult">
        <include refid="selectPubSrcDirectoryVo"/>
        where code = #{code}
    </select>
        
    <insert id="insertPubSrcDirectory" parameterType="PubSrcDirectory" useGeneratedKeys="true" keyProperty="code">
        insert into pub_src_directory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dirName != null">dir_name,</if>
            <if test="scope != null">scope,</if>
            <if test="cycle != null">cycle,</if>
            <if test="provide != null">provide,</if>
            <if test="classification != null">classification,</if>
            <if test="type != null">type,</if>
            <if test="tag != null">tag,</if>
            <if test="basicClassification != null">basic_classification,</if>
            <if test="topicClassification != null">topic_classification,</if>
            <if test="dirDescribe != null">dir_describe,</if>
            <if test="sharedProperties != null">shared_properties,</if>
            <if test="sharedConditions != null">shared_conditions,</if>
            <if test="sharingMode != null">sharing_mode,</if>
            <if test="openAttribute != null">open_attribute,</if>
            <if test="openCondition != null">open_condition,</if>
            <if test="userNumber != null">user_number,</if>
            <if test="associatedSystem != null">associated_system,</if>
            <if test="sourceBusiness != null">source_business,</if>
            <if test="associatedService != null">associated_service,</if>
            <if test="associatedTable != null">associated_table,</if>
            <if test="associatedField != null">associated_field,</if>
            <if test="version != null">version,</if>
            <if test="isLatest != null">is_latest,</if>
            <if test="status != null">status,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="isPhysicalDelete != null">is_physical_delete,</if>
            <if test="synMechanism != null">syn_mechanism,</if>
            <if test="synFrequency != null">syn_frequency,</if>
            <if test="isSynTosupermarket != null">is_syn_tosupermarket,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dirName != null">#{dirName},</if>
            <if test="scope != null">#{scope},</if>
            <if test="cycle != null">#{cycle},</if>
            <if test="provide != null">#{provide},</if>
            <if test="classification != null">#{classification},</if>
            <if test="type != null">#{type},</if>
            <if test="tag != null">#{tag},</if>
            <if test="basicClassification != null">#{basicClassification},</if>
            <if test="topicClassification != null">#{topicClassification},</if>
            <if test="dirDescribe != null">#{dirDescribe},</if>
            <if test="sharedProperties != null">#{sharedProperties},</if>
            <if test="sharedConditions != null">#{sharedConditions},</if>
            <if test="sharingMode != null">#{sharingMode},</if>
            <if test="openAttribute != null">#{openAttribute},</if>
            <if test="openCondition != null">#{openCondition},</if>
            <if test="userNumber != null">#{userNumber},</if>
            <if test="associatedSystem != null">#{associatedSystem},</if>
            <if test="sourceBusiness != null">#{sourceBusiness},</if>
            <if test="associatedService != null">#{associatedService},</if>
            <if test="associatedTable != null">#{associatedTable},</if>
            <if test="associatedField != null">#{associatedField},</if>
            <if test="version != null">#{version},</if>
            <if test="isLatest != null">#{isLatest},</if>
            <if test="status != null">#{status},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="isPhysicalDelete != null">#{isPhysicalDelete},</if>
            <if test="synMechanism != null">#{synMechanism},</if>
            <if test="synFrequency != null">#{synFrequency},</if>
            <if test="isSynTosupermarket != null">#{isSynTosupermarket},</if>
         </trim>
    </insert>

    <update id="updatePubSrcDirectory" parameterType="PubSrcDirectory">
        update pub_src_directory
        <trim prefix="SET" suffixOverrides=",">
            <if test="dirName != null">dir_name = #{dirName},</if>
            <if test="scope != null">scope = #{scope},</if>
            <if test="cycle != null">cycle = #{cycle},</if>
            <if test="provide != null">provide = #{provide},</if>
            <if test="classification != null">classification = #{classification},</if>
            <if test="type != null">type = #{type},</if>
            <if test="tag != null">tag = #{tag},</if>
            <if test="basicClassification != null">basic_classification = #{basicClassification},</if>
            <if test="topicClassification != null">topic_classification = #{topicClassification},</if>
            <if test="dirDescribe != null">dir_describe = #{dirDescribe},</if>
            <if test="sharedProperties != null">shared_properties = #{sharedProperties},</if>
            <if test="sharedConditions != null">shared_conditions = #{sharedConditions},</if>
            <if test="sharingMode != null">sharing_mode = #{sharingMode},</if>
            <if test="openAttribute != null">open_attribute = #{openAttribute},</if>
            <if test="openCondition != null">open_condition = #{openCondition},</if>
            <if test="userNumber != null">user_number = #{userNumber},</if>
            <if test="associatedSystem != null">associated_system = #{associatedSystem},</if>
            <if test="sourceBusiness != null">source_business = #{sourceBusiness},</if>
            <if test="associatedService != null">associated_service = #{associatedService},</if>
            <if test="associatedTable != null">associated_table = #{associatedTable},</if>
            <if test="associatedField != null">associated_field = #{associatedField},</if>
            <if test="version != null">version = #{version},</if>
            <if test="isLatest != null">is_latest = #{isLatest},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="isPhysicalDelete != null">is_physical_delete = #{isPhysicalDelete},</if>
            <if test="synMechanism != null">syn_mechanism = #{synMechanism},</if>
            <if test="synFrequency != null">syn_frequency = #{synFrequency},</if>
            <if test="isSynTosupermarket != null">is_syn_tosupermarket = #{isSynTosupermarket},</if>
        </trim>
        where code = #{code}
    </update>

    <delete id="deletePubSrcDirectoryByCode" parameterType="Long">
        delete from pub_src_directory where code = #{code}
    </delete>

    <delete id="deletePubSrcDirectoryByCodes" parameterType="String">
        delete from pub_src_directory where code in 
        <foreach item="code" collection="array" open="(" separator="," close=")">
            #{code}
        </foreach>
    </delete>
</mapper>